    <%= form_with(model: [@anniversary, @comment], local: true) do |form| %>
      <div class="container">      
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      </div>
    <% end %>

    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.text %>
        </li>  
        <% end %>
    </ul>