<div class="container-fluid">
  <div class="row">

    <div class="col-12 col-lg-2 sticky-top h-100 p-0">
     <%= render "shared/side_nav" %>
    </div>

    <div class="col-12 col-lg-10">
      <% if @anniversaries == [] %>
        <p class="google-font p-3">検索結果がありません</p>
      <% else %>
        <%= render "shared/album" %>
      <% end %>  
    </div>
    
  </div>
</div>