// Place all the styles related to the anniversaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html{
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body{
  width: 100%;
  height: 100vh;
}

.google-font{
  font-family: 'Libre Baskerville', serif;
}


.header-height{
  height: 8%;
}

.hero-height{
  height: 84%;
}

.footer-height{
  height: 8%;
}

/*----------------------------------------
  header
----------------------------------------*/
.logo a{
  font-family: 'Libre Baskerville', serif;
  text-decoration: none; 
  color: #24292e;
  font-size: 32px;
}

.logo a:hover{
  color: black;
}

.header-nav{
  font-family: 'Libre Baskerville', serif;
  text-decoration: none; 
  color: #24292e;
  transition: all 0.3s;
}

.header-nav:hover{
  text-decoration: none; 
  color: #24292e;
  opacity: 0.6;
  padding-bottom: 5px;
  border-bottom: solid 1px #24292e ;
}

/*----------------------------------------
  index
----------------------------------------*/
.hero-wrapper{
  position: relative;
}

.hero-image{
  object-fit: cover;
  position: absolute;
}

.hero-text{
  position: relative;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

/*----------------------------------------
  New Post
----------------------------------------*/


.preview-image{
  width: 500px;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  
}



/*----------------------------------------
  SignUp
----------------------------------------*/
.new-wrapper{
  height: calc(100vh - 70px - 60px);
}

.input-birth-wrap {
  display: flex;
}


/*----------------------------------------
  Session New
----------------------------------------*/


/*----------------------------------------
   contents /  content
----------------------------------------*/
.side-nav-logo{
  font-family: 'Libre Baskerville', serif;
}

.side-nav-width{
  min-width: 200px;
}

.contents-backglornd-color{
  background-color: white;
}

// dropdownが所属するブロック要素
.zindex{
  z-index: 1100;
}

// 他のブロック要素
.container{
  z-index: 1;
}

/*----------------------------------------
  Likeボタン
----------------------------------------*/

.like-link {
  text-decoration: none;
}

.like-btn {
  font-size: 1em;
  color: #808080;
}

.unlike-btn {
  font-size: 1em;
  color: #e54747;
}

/*----------------------------------------
  List
----------------------------------------*/

tr th {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 600;
}


tbody tr {
  font-size: 0.9rem;
  text-align: center;
}